<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
welcome! {{ request.user.username }}
<hr>
<form method="post" action="/data/">
{% for group in groups %}
    <input type="checkbox" {% if group in request.user.groups.all %}checked{% endif %}>{{ group.name }}
{% endfor %}
<input type="submit" value="set group">
</form>
<hr>
<form method="post" action="/data/">
    {% csrf_token %}
    <input type="hidden" name="name" value="some data...">
    <input type="submit" value="create data">
</form>
<hr>
<form method="get" action="/logout/">
    <input type="submit" value="logout">
</form>


<table class="table table-bordered" style="margin: 0 auto;width: 1000px;">
    {% for data in datas %}
    <tr>
        <td>{{ data.myContent }}</td>
        <td>
            <button class="btn btn-default">垃圾</button>
            <button class="btn btn-danger">积极</button>
            <button class="btn btn-primary">消极</button>
            <button class="btn btn-success">中性</button>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>