<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/layer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/static/js/index.js"></script>
</head>
<style>
    .table tr:hover{
        background: #eeeeee;
    }
    .btn-xs{
        margin: 3px 5px;
    }
</style>
<body>
<!--welcome! {{ request.user.username }}
<hr>
<form method="post" action="/data/">
    {% for group in groups %}
        <input type="checkbox" {% if group in request.user.groups.all %}checked{% endif %}>{{ group.name }}
    {% endfor %}
    <input type="submit" value="set group">
</form>
<hr>
<form method="post" action="/data/">
    {% csrf_token %}
    <input type="hidden" name="name" value="some data...">
    <input type="submit" value="create data">
</form>
<hr>
<form method="get" action="/logout/">
    <input type="submit" value="logout">
</form>
-->
<div class="outer" style="margin: 80px auto;width: 1500px;">
<div class="form-inline" style="position: fixed;top: 0;padding: 20px 0;background: #fff;width: 100%;">
<div class="form-group">
<button type="button" id="emotionTrainBtn" data-loading-text="训练中..." class="btn btn-info" autocomplete="off">
    重新训练
</button>
<small>* 更新了新的情感分类可重新训练，大约需要30秒，不影响其他操作</small>
<input type="text" class="form-control" name="text" size="80" placeholder="请输入评论...">
<button type="button" id="emotionBtn" data-loading-text="预测中..." class="btn btn-success" autocomplete="off">
    情感预测
</button>
</div>
    <div class="form-group">
        <label>测试结果(正面占比)：</label><span class="emotionResult">无</span>
    </div>
</div>


<div class="row">
    <div class="col-sm-6" id="pos_list"></div>
    <div class="col-sm-6" id="neg_list"></div>
</div>

<table class="table table-bordered">
    <tr>
        <th>
            <select name="filter" onchange="filterEmotion()">
                <option value="">全部</option>
                <option value="5">积极</option>
                <option value="1">消极</option>
                <option value="3">中性</option>
            </select>
        </th>
        <th>商务分类</th>
        <th>发表日期</th>
        <th width="50px">星级</th>
        <th>内容</th>
        <th>操作<br><small class="text-danger">*预测有误且情感较强烈的可修正，修正后重新训练</small></th>
    </tr>
    {% for data in datas %}
        <tr>
            <td width="120px" class="predict-result">predict...</td>
{#            <td class="words"></td>#}
            <td>{{ data.b_sort }}</td>
            <td style="width: 150px;">{{ data.post_date }}</td>
            <td>{{ data.star }}</td>
            <td class="predict-content">{{ data.content }}</td>
            <td style="width: 300px;">
{#                <button class="btn btn-default" onclick="sortClick('0', '{{ data.source }}', '{{ data.myDate }}', '{{ data.myContent }}')">垃圾#}
                </button>
                <button class="btn btn-danger"
                        onclick="sortClick('5', '{{ data.source }}', '{{ data.post_date }}', '{{ data.content }}')">积极
                </button>
                <button class="btn btn-primary"
                        onclick="sortClick('1', '{{ data.source }}', '{{ data.post_date }}', '{{ data.content }}')">消极
                </button>
                {#                <button class="btn btn-success" onclick="sortClick('3', '{{ data.source }}', '{{ data.myDate }}', '{{ data.myContent }}')">中性</button>#}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
<nav aria-label="Page navigation" style="position: fixed;top: 100px;right: 0;">
    <input type="hidden" name="page" value="1">
    <ul class="pagination">
        <li>
            <a href="/index/{{ product_code }}/?page={{ page|add:-1 }}" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        <li>
            <a href="/index/{{ product_code }}/?page={{ page|add:1 }}" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>
</nav>

</body>
<script>
    var csrf_token = '{{ csrf_token }}';

    $(function () {
        $('#emotionBtn').on('click', function () {
            var text = $("input[name=text]").val();
            if(text==="")return false;
            var $btn = $(this).button('loading');
            var url = '/emotion/';
            $.post(url,{
                "content_arr":[$("input[name=text]").val()]
            },function (data) {
                console.log(data)
                var text = data.preds[0].pred;
                $(".emotionResult").html(text+sortText(text));
                $btn.button('reset')
            });
        });
        $('#emotionTrainBtn').on('click', function () {
            var isTrue = confirm("确认要重新训练当前模型吗？");
            if(!isTrue)return false;
            var $btn = $(this).button('loading');
            var url = '/retrain/';
            $.get(url,function (data) {
                console.log(data);
                alert("训练成功");
                $btn.button('reset');
                location.reload();
            });
        });

        var content_arr=[];
        $(".table .predict-result").each(function () {

            content_arr.push($(this).siblings(".predict-content").text());
        });
        var url = '/emotion/';
        $.post(url,{
            "content_arr":content_arr
        },function (data) {
            console.log(data);
            var preds = data.preds;
            var pos_list = data.pos_list;
            var neg_list = data.neg_list;

            $(".table .predict-result").each(function (index,obj) {
                var pred=preds[index].pred;
                var words=preds[index].words;
                $(this).html(sortText(pred)+Number(pred).toFixed(2));
                {#$(this).siblings(".words").text(words);#}
            });
            $.each(pos_list,function (index,obj) {
                var btn = $("<button class=\"btn btn-xs btn-danger\" type=\"button\">"+obj.word+"</button>").append("<span class=\"badge\">"+obj.count+"</span>");
                $("#pos_list").append(btn);
            });
            $.each(neg_list,function (index,obj) {
                var btn = $("<button class=\"btn btn-xs btn-primary\" type=\"button\">"+obj.word+"</button>").append("<span class=\"badge\">"+obj.count+"</span>");
                $("#neg_list").append(btn);
            });

        });
    });
    
    function filterEmotion() {
        $("tr").show();
        var value = $("select[name=filter]").val();
        if(value!==''){
            $(".filter:not(.filter"+value+")").parents("tr").hide();
        }
    }

    function sortClick(sort, source, post_date, content) {
        var isTrue = confirm("\""+content+"\" \n=================\n确认要加入到 【"+sortDict()[sort]+"】 吗？\n=================\n *注意要加入预测有误，且情感较强烈的评论噢");
        if(!isTrue)return false;

        var url = '/filter/data/';
        $.ajax({
            url: url,
            async: false,
            type: "POST",
            data: {
                "content": content.toLowerCase(),
                "source": source,
                "sort": sort,
                "post_date": post_date,
                "product": '{{ product_code }}',
                "csrfmiddlewaretoken": csrf_token,
            },
            success: function (res, status) {
                layer.msg("添加到 " + sortDict()[sort] + " 成功");
                {#console.log(res)#}
            }
        });
    }

    function sortText(text) {
        if(Number(text)>=0.7){
            return "<b class='text-danger filter filter5'>（积极）</b>"
        }else if(Number(text)>=0.3){
            return "<span class='filter filter3'>（中性）</span>"
        }else{
            return "<span class='filter filter1'>（消极）</span>"
        }
    }

    function sortDict() {
        return {
            "0": "垃圾",
            "5": "积极",
            "1": "消极",
            "3": "中性",
        }
    }
</script>
</html>